<!--
jorge juan perales | nov 2015 | Sinatra Blog | homepage.erb
-->

<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Blog | Home</title>
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- fonts --> <link href='https://fonts.googleapis.com/css?family=Bitter:400,700|Vollkorn:400,700|Satisfy|Volkhov:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="blog-title">Sinatra Blog</h1>

        <% @posts.each do |post| %>
          <article class="post">
            <h2 class="post-title"><a href="/details_page/<%= @post_id %>"><%= post.title %></a></h2>
            <p class="post-date">Published: <%= post.date %></p>
            <p class="post-parragraph"><%= post.text %></p>
          </article>
        <% end %>
      </div><!-- end of col-8 -->
    <div class="col-md-2"></div>
  </div><!-- end of container-fluid -->

</body>
</html>
