<!--
jorge juan p. | nov 2015 | Sinatra Blog | homepage.erb
-->

<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Blog | Home</title>
  <link rel="stylesheet" type="text/css" href="../css/custom.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <!-- fonts --> <link href='https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,700|Vollkorn:400,700|Satisfy|Volkhov:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="blog-title pull-left">Sinatra Blog</h1>
          <a class="btn btn-primary pull-right" href="/new_post" role="button">
            <!-- <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> -->
            Create new post
          </a>
        </div>
      <div class="col-md-2"></div>
    </div>
    <!-- content -->
    <div class="row content">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <% @posts.each do |post| %>
            <article class="post">
              <h2 class="post-title-thumb"><a href="/post_details/<%= @posts.find_index(post) %>"><%= post.title %></a></h2>
              <p class="post-date">Published: <%= post.date %></p>
              <p class="post-parragraph"><%= post.text %></p>
            </article>
          <% end %>
        </div><!-- /col-8 -->
      <div class="col-md-2"></div>
    </div>
  </div><!-- /container-fluid -->

</body>
</html>
