.header {
  background-color: rgb(80, 209, 217);
}

.post {
  /*background-color: #ECECEC;*/
  border-radius: 5px;
  padding: 15px 30px;
  margin: 20px 0;
}

.blog-title, .post-title, .post-title-thumb, .post-date {
  font-family: 'Bitter', serif;
}

.blog-title {
  font-weight: 700;
  font-size: 2.8em;
  color: #333;
}

.post-title-thumb {
  font-weight: 400;
  font-size: 1.5em;
  color: #333;
}

.post-date-thumb {
  font-weight: 400;
  font-size: .85em;
  color: #bfbfbf;
}

.post-title {
  font-weight: 400;
  font-size: 2em;
  color: #333;
}

.post-date {
  font-weight: 400;
  font-size: .85em;
  color: #bfbfbf;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
  color: #2d2d2d;
}
